@import "./../variables.scss";

.events {
  margin-top: 46px;
  .events__subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color1;
  }
  .events__title {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #131313;
  }
}
