@import "./../../../variables.scss";

.option {
  padding: 8px;
  background: #fafafa;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-column-gap: 8px;

  border-bottom: 1px solid #ebebeb;

  position: relative;
  .option__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;

    grid-row: 1/3;
  }
  .option__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    color: #131313;

    margin-top: 6px;
  }
  .option__price {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: $color1;

    margin-bottom: 6px;
  }
  .option__checkbox {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    .MuiSvgIcon-root {
      width: 15px;
      height: 15px;
      .option__checkbox-svg {
        fill: $color1;
        stroke: $color1;
      }
      .option__checkbox-svg-checked {
        fill: $color1;
        stroke: $color1;
      }
    }
  }
}