@import "./../../variables.scss";

.event {
  cursor: pointer;
  margin-top: 20px;
  .event__img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .event__content {
    padding: 20px 8px;
    background: #fafafa;
  }
  .event__subtitle {
    margin-bottom: 4px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: $color1;
  }
  .event__title {
    margin-bottom: 8px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    color: #131313;
  }
  .event__description {
    margin-bottom: 20px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #131313;
  }
  .event__publication-date {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #6a6a6a;
  }
}
